/*Body*/

body{
	text-decoration: none !important;
}

body a:hover{
	text-decoration: none !important;
}

navbar{
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
}
@media (max-width: 480px)  {
	.title-init{
		font-size: 10vw;
	}
}

@media (max-width: 767px) {
	.title-init{
		font-size: 3vw ; 
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.title-init{
		font-size: 3vw; 
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.title-init{
		font-size: 3vw; 
	}
}

@media (min-width: 1200px) {
	.title-init{
		font-size: 2vw; 
	}
}



.hvr-outline-out {
  display: block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}
.hvr-outline-out:before {
  content: '';
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.hvr-outline-out:focus:before, .hvr-outline-out:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}

.hvr-outline-out:hover:before{
	border: white solid 2px;
}

.init-txt{
	position: absolute;
    align-content: center;
    align-items: center;
    align-self: center;
    top: 7%;
}
.next-sec{
	font-size: 18px;
	border: solid;
    border-radius: 24px;
    border-width: 1px;
    align-self: center;
    align-content: center;
}


/*Side menu*/

#sidebar-wrapper {
	font-family: 'Roboto', sans-serif;
    z-index: 1000;
    position: fixed;
    top: 0;
    float :left;
    left: -500px;
    width: 250px;
    height: 100%;
    transform: translateX(250px);
    overflow-y: auto;
    background: #2b99d2;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: fixed;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: white;
    border-top: solid 0.5px white;
    border-bottom: solid 0.5px white;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
	font-family: 'Roboto', sans-serif;
 	color: #104C8B;
}

#sidebar-wrapper.active {
    left: -250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

.txt-amarillo{
	color: #FAB621;
}
.nxt-sec{
	font-size: 14px;
}

.nxt-sec:hover{
	text-decoration: none;
}


/*BUTTONS*/

.btn-dark {
    border-radius: 0;
    color: #104C8B;
    
}


/*Colors*/

.bkg-gris{
	background-color: #F5F9FC;
}


.txt-orange{
	color: #FAB621;
}

.txt-blue{
	color: #104C8B;
}

.txt-normal{
	text-transform: none !important;
}

.txt-upper{
	text-transform: uppercase; 
}


/* Text */
.txt-white{
	color: white;
	font-family: 'postscriptumlight', sans-serif;
}
.txt-bold{
	font-weight: bold;
}
.font-postscript{
	font-family: 'postscriptumlight', sans-serif;
}

.welcome-1{
text-transform: uppercase;
}

.welcome-2{
text-transform: uppercase;
	font-weight: bold;
}

.welcome-3{
text-transform: uppercase;
	font-weight: bold;
}

.txt-blanc{
	color:white;
}

.contacto-dudas{
	font-size: 24px;
    font-weight: bold;
    align: left !important;
}



/* Header*/

#header{
	background-color: white !important;
	height: 8vh;
}

.logo{
	font-size: 30px;
}

/*section TOP*/

#top{
	display: table;
    position: relative;
	background-color: #104C8B;
	z-index: 1;
	width: 100%;
}

#top:before{
	content: "";
	position: child;
	z-index: -1;
	bottom: 50vh;
	background-color: red;
}

.wlk-img{
	height: auto;
	width: 100%;
}

hr { background-color: #FAB621; height: 2px; border: 0; }

.continuar{
	background-color: #F5F9FC;
}

/*SECTION VIDEO*/

#videos{
	background-color: #104C8B;
	color: white;
}
#videos h1{
	text-transform: uppercase;
	font-family: 'bignoodletitlingregular', sans-serif;
	font-size: 40px;
}

#videos h5{
	font-family: 'Roboto', sans-serif;
}

#videos h6{
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	width: 180px;
	height: 50px;
}

#videos a{
	text-transform: uppercase;
	overflow: hidden;
}

#bienvenido{
	background-color: #F5F9FC;
	font-family: 'Roboto', sans-serif;
}

#bienvenido p, .title-video{
	color: #FAB621;
	text-transform: uppercase;
	font-size: 20px;
	line-height: 20px;
}

.play-icon{
	z-index: 100;
	color: white;
	font-size: 35px;
	margin: 0;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.pronto{
	width: 70%;
	color: white;
	font-size: 12px;
	z-index: 100;
	text-transform: uppercase;
	margin:0;
	position: absolute;
	top: 80%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#linkis{
	position: absolute;
	top: 0%;
	right: 0%;
}
.init-descp{
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}

#primerpaso{
	background-color: #104C8B;
	font-family: 'Roboto', sans-serif;
}

#retraso{
	background-color: #F5F9FC;
	font-family: 'Roboto', sans-serif;
	color: #FAB621;
	font-size: 20px;
	line-height: 20px;
}

#proteger{
	background-color: #104C8B;
	font-family: 'Roboto', sans-serif;
}

#asistir{
	background-color: #F5F9FC;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	line-height: 20px;
}

#juntoati, #proteger{
	background-color: #104C8B;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	line-height: 20px;
}

.dwl, .dwl:hover{
	font-size: 14px !important;
	color: #FAB621;
}

#tranquilidad{
	background-color: #F5F9FC;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	line-height: 20px;
}

#contacto{
	background-color: #104C8B;
	font-family: 'Roboto', sans-serif;
}

#contacto p a {
	color:white;
}

#contacto h4, #contacto h4 a{
	color: #FAB621;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0 auto;
    text-align: center;
    align-items: center;
    display: block;
}

#contacto p{
	color: white;
	margin: 0 auto;
    text-align: center;
    align-items: center;
    display: block;
}

#contacto label{
	font-size: 24px;
}

#contacto button{
	font-weight: bold;
	font-size: 16px;
	color: #104C8B;
	border-radius: 0px;
	border-width: 2px;
	border-color: #FAB621 !important;
	width: 90px;
}

#contacto input, #contacto textarea{
	border-radius: 0px;
	border-width: 2px;
	border-color: #FAB621 !important;
}

.soluciona{
	color: #FAB621 !important;
	font-weight: bold;
}

footer{
	font-family: 'Roboto', sans-serif;
}


/* UTILS*/
.align-center {
    margin: 0 auto;
    text-align: center;
    align-items: center;
    display: block;

}

.align-cont{
	 margin: 0 auto;
    text-align: center;
    align-items: center;
    display: inline;
}
.txt-bold{
	font-weight: bold !important;
}



.youtube-vid{
	border: solid;
	border-width: 3px;
	border-color: #50A8D0;
	border-spacing: 10px;
}

.video-bkg{
	height: 445px;
	width: 35px;
    background-image: linear-gradient(45deg, #50A8D0 25%, transparent 25%, transparent 50%, #50A8D0 50%, #50A8D0 75%, transparent 75%, transparent);
    background-size: 8px 8px; 

)