html, body{
	font-family: 'Maven Pro', sans-serif;
	position: relative;
	background-color: #FFF1EA;
}

.obj-centrar{
	position: relative;
	margin: 0 auto;
	text-align: center;
}

.panel-cdr{
	border-radius: 0px;
	border: 1px solid #000000;
}


.panel-cdr>.panel-heading{
	border-radius: 0px;
	background-color: #000000;
	color: #FFFFFF;
}

.fondo-naranja{
	background-color: #000000;
}
.fondo-naranja-claro{
	background-color: #CC3333;
}

.panel-cdr .input-group-addon{
	border-radius: 0px;
	background-color: #000000;
	color: #FFFFFF;
	border: 1px solid #000000;
}

.panel-cdr .input-group .form-control{
	border: 1px solid #000000;
	border-radius: 0px;
}

.panel-cdr .input-group .form-control:focus{
	border-color: #000000;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(242, 103, 34,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(242, 103, 34,.6);
}

.btn-cdr{
	border-radius: 0px;
	border-color: #000000;
	background-color: #000000;
	color: #FFFFFF;
	text-transform: uppercase;
}

.btn-cdr:hover,
.btn-cdr:focus,
.btn-cdr:active{
	border-radius: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	color: #000000;
}

.navbar-cdra{
	background-color: #000000;
}
.navbar-cdra .navbar-header a,
.navbar-cdra .navbar-top-links a{
	color: #FFFFFF;
}

.navbar-cdra a{
	color: #000000;
}
#side-menu li a.active{
	color: #FFFFFF;
}
#side-menu li a.active{
	color: #FFFFFF;
	background-color: #000000;
}

.img-logoadmin{
	height: 35px;
}
.navbar-cdra .nav>li>a:focus,
.navbar-cdra .nav>li>a:hover,
.navbar-cdra .nav>li>a:active,
.navbar-cdra .nav li.dropdown.open  a{
	color: #FFFFFF;
	background-color: #CC3333;
}

.navbar-cdra .nav>li.dropdown .dropdown-menu{
	color: #FFFFFF;
	background-color: #CC3333;
	border-radius: 0px;
}

.box-header.well{
	background-color: #FFF1EA;
	border-radius: 0px;
	border-color: #000000;
}
.box-content{
	background-color: #FFF1EA;
	border-radius: 0px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	padding: 15px;
}