@font-face {
  font-family: 'iconos-drochoa';
  src:  url('iconos-drochoa.eot?f3uaw0');
  src:  url('iconos-drochoa.eot?f3uaw0#iefix') format('embedded-opentype'),
    url('iconos-drochoa.ttf?f3uaw0') format('truetype'),
    url('iconos-drochoa.woff?f3uaw0') format('woff'),
    url('iconos-drochoa.svg?f3uaw0#iconos-drochoa') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ido-"], [class*=" ido-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconos-drochoa' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ido-facebook:before {
  content: "\e900";
}
.ido-instagram:before {
  content: "\e901";
}
.ido-twitter:before {
  content: "\e902";
}
.ido-callcenter:before {
  content: "\e903";
}
.ido-mail:before {
  content: "\e904";
}
.ido-ubicacion:before {
  content: "\e905";
}

